[submodule "side/imgui"]
	path = side/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "side/Barcode"]
	path = side/Barcode
	url = git@github.com:Noremos/Barcode.git
[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "side/clip"]
	path = side/clip
	url = https://github.com/dacap/clip.git
